<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Stages</title>

    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <style>
      .container-fluid > .sidebar {
      position: absolute;
      top: 0;
      left: 20px;
      width: 380px;
      }
      .container-fluid > .content {
      margin-left: 400px;
      }
    </style>


    <script src="js/json2.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>

    <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script src="js/backbone.localStorage-min.js"></script>
<!--
    <script src="js/backbone.js"></script>
    <script src="js/backbone.localStorage.js"></script>
-->

    <script src="http://jashkenas.github.com/coffee-script/extras/coffee-script.js"></script>
    <script type="text/coffeescript" src="src/stages_model.coffee"></script>
    <script type="text/coffeescript" src="src/stages_view.coffee"></script>
    <script type="text/coffeescript" src="src/stages_clock.coffee"></script>


    </head>
  <body>

    <div id="stageapp">
      <div class="title">
        <h1>Stages</h1>
      </div>

      <div class="container-fluid">
	<div class="sidebar">
          <div id="stages">
            <ol id="stage-list"></ol>
          </div>
	</div>
	<div class="content">
	  <table id="scenes">
	  </table>
	</div>
    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <div class="stage">
        <div class="display">
          <div class="stage-title"></div>
        </div>
      </div>
    </script>

    <script type="text/template" id="scene-template-clock">
      <tr>
	<td><%= order %></td>
	<td><%= bgname(backgroundName) %></td>
        <td><%= bgmName %></td>
	<td><ol class="scene-droplist">
	    <% _.each(drops, function(drop){ %> <li><%= hrname(drop.hourKey) + "/" + mtname(drop.minuteKey) %></li> <% }); %>
        </ol></td>
	<td><ol class="scene-boxlist">
	    <% _.each(boxes, function(box){ %> <li><%= hrname(box.hourKey) + "/" + mtname(box.minuteKey) %></li> <% }); %>
	</ol></td>
      </tr>
    </script>

    <script type="text/template" id="scene-template-multichoice">
      <tr>
	<td><%= order %></td>
	<td><%= question %></td>
	<td><%= answers %></td>
        <td><%= answers[answer] %></td>
      </tr>
    </script>


  </body>
</html>
